@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="static-page-content">
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>

    <p>
        The theme of this site is widgets, which are fictitious gadgets (although the hype is real).
    </p>
    <p>
        This is a web application demonstrating ASP.NET's new Razor Pages along with in-line 
        <a href="https://reactjs.org/" target="_blank">React</a> (<a href="https://babeljs.io/" target="_blank">Babel</a> and <a href="https://reactjs.org/docs/introducing-jsx.html" target="_blank">JSX</a>).
</p>
    <p>
        <a href="https://scrollyjs.com/" target="_blank">Scrolly.js</a> used for scroll animations, along with <a  href="https://jquery.com/" target="_blank">jQuery for other actions</a>.
    </p>
    <p>
        Theme based on <a href="https://html5up.net/spectral" target="_blank">HTML5 UP's Spectral</a> theme (with some <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>).
    </p>
    <p>
        Free-to-use pictures courtesy of <a href="https://pixabay.com" target="_blank">pixabay.com</a>
    </p>
    <p>
        FidO was drawn by me.
    </p>

    <br />

    <p>It also uses the following deployment flow:</p>

    <p>
        <b>Code in Visual Studio &#8594; Push to GitHub &#8594; Automatic CI deployment on Microsoft Azure</b>
    </p>
</div>