@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="static-page-content">
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>

    <p>
        Hello! I'm three years into being a full-time software engineer, though I've had plenty of experience through internships and schooling.
    </p>
    <p>
        This is a web application demonstrating ASP.NET's new Razor Pages along with in-line 
        <a href="https://reactjs.org/" target="_blank">React</a> (<a href="https://babeljs.io/" target="_blank">Babel</a> and <a href="https://reactjs.org/docs/introducing-jsx.html" target="_blank">JSX</a>).
    </p>
    <p>
        FidO was drawn by me.
    </p>

    <br />

    <p>It also uses the following deployment flow:</p>

    <p>
        <b>Code in Visual Studio &#8594; Push to GitHub &#8594; Automatic CI deployment on Microsoft Azure</b>
    </p>
</div>