@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div class="static-page-content">
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>

    <address>
        <strong>App Support:</strong> <a href="https://github.com/AlexanderKidd/ASP-NET-Widget-Web-App/">Widget Web App GitHub</a>
        <br />

        <strong>General Support:</strong>
        <label class="custom-switch">
            <input type="checkbox" id="customSwitchCheck1">
            <span id="customSwitch1" class="slider round"></span>
        </label>
        <br />
        <a class="hiddenMail" data-email="alexanderkiddAToutdoglookDOTcom" href="/NoMailTo">(Flip The Above Switch.)</a>
        <br />
    </address>
</div>
