@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Sections below from http://html5up.net template "Spectral"-->

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Widget</h2>
        <p>
            A new way to do.
            <br />
            A new way to be.
        </p>
    </div>
    <p><a href="#reason-one" class="more scrolly scrollVertBaseline">Learn More</a></p>
</section>

<section id="reason-one" class="wrapper style1 spotlight">
        <div class="column content normal">
            <h2>Putting power at your fingertips.</h2>
            <p>With the new Ion Core technology, Widget is a powerhouse of processing.</p>
        </div>
        
        <div class="image normal"><img src="~/images/reason_one_leaf.jpg"/></div>
</section>

<section id="reason-two" class="wrapper style2 spotlight">
        <div class="image switch">
            <img src="~/images/reason_two_rose.jpg"/>
        </div>

        <div class="column content switch">
            <h2>Clarity beyond compare.</h2>
            <p>Life-like resolution from the Iris Chip, as if the picture is in front of you.</p>
        </div>
</section>

<section id="reason-three" class="wrapper style3 spotlight">
        <div class="column content normal">
            <h2>Any time, any place.</h2>
            <p>Take Widget anywhere with you, with its sleek, portable design.</p>
        </div>

        <div class="image normal">
            <img src="~/images/reason_three_lavaredo.jpg"/>
        </div>
</section>

<div class="row static-page-content">
    <div class="col-md-3 last-row-divider">
        <h2>Shop</h2>
        <ul>
            <li><a id="whereToBuy">Where To Buy 🏪</a></li>
            <li><a href="http://www.google.com/search?q=Memes" target="_blank">Memes 🤡</a></li>
            <li><a href="http://www.google.com/search?q=Crypto" target="_blank">Crypto 💱</a></li>
            <li><a href="http://www.google.com/search?q=NFTs" target="_blank">NFTs 🖼️</a></li>
        </ul>
    </div>
    <div class="col-md-3 last-row-divider">
        <h2>Support (MS Docs)</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=852130" target="_blank">Working with Razor Pages.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315" target="_blank">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316" target="_blank">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317" target="_blank">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319" target="_blank">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3 last-row-divider">
        <h2>Learn</h2>
        <ul>
            <li><a href="https://whatis.techtarget.com/definition/widget" target="_blank">What is a widget?</a></li>
            <li><a href="https://www.sustainabilityconsortium.org/impact/impact-report/" target="_blank">Widgets & The Environment</a></li>
            <li><a href="http://www.google.com/search?q=Widgets" target="_blank">Widgets in action</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320" target="_blank">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
        </ul>
    </div>
    <div class="col-md-3 last-row-divider">
        <h2>Company</h2>
        <ul>
            <li><a asp-page="/About">About Us</a></li>
            <li><a asp-page="/Contact">Contact</a></li>
            <li><a href="https://github.com/AlexanderKidd" target="_blank">Explore Projects</a></li>
        </ul>
    </div>
</div>
