@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Sections below from http://html5up.net template "Spectral"-->

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Widget</h2>
        <p>
            A new way to do.
            <br />
            A new way to be.
        </p>
    </div>
    <p><a href="#reason-one" class="more scrolly">Learn More</a></p>
</section>

<section id="reason-one" class="wrapper style1">
    <div class="row">
        <div class="column">
            <h2>Putting power at your fingertips.</h2>
            <p>With the new Ion Core technology, Widget is a powerhouse of processing.</p>
        </div>
        
        <div class="column"><img src="~/images/reason_one_leaf.jpg" width="400px" height="300px" /></div>
    </div>
</section>

<section id="reason-two" class="wrapper style2">
    <div class="row">
        <div class="column">
            <img src="~/images/reason_two_rose.jpg" width="400px" height="300px" />
        </div>

        <div class="column">
            <h2>Clarity beyond compare.</h2>
            <p>Life-like resolution from the Iris Chip, as if the picture is in front of you.</p>
        </div>
    </div>
</section>

<section id="reason-three" class="wrapper style3">
    <div class="row">
        <div class="column">
            <h2>Any time, any place.</h2>
            <p>Take Widget anywhere with you, with its sleek, portable design.</p>
        </div>

        <div class="column">
            <img src="~/images/reason_three_lavaredo.jpg" width="400px" height="300px" />
        </div>
    </div>
</section>

<div class="row static-page-content">
    <div class="col-md-3">
        <h2>Site Content</h2>
        <ul>
            <li>Sample pages using ASP.NET Core Razor Pages</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            <li>Scroll animation using <a href="https://scrollyjs.com/">Scrolly.js</a></li>
            <li>Pictures courtesy of <a href="https://pixabay.com">pixabay.com</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How To</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure App Service</a></li>
        </ul>
    </div>
</div>
