@page
@model WidgetWebApp.Pages.NoMailToModel
@{
    ViewData["Title"] = "NoMailTo";
}
<div class="static-page-content">
    <h2>No MailTo:</h2>

    <p>I heard <b>mailto:</b> hotlinks create security problems.

    <p>If you have gotten to this page, you're probably a bot.</p>

    <p>Sorry for the inconvenience.</p>
</div>