@page
@model WidgetWebApp.Pages.NoMailToModel
@{
    ViewData["Title"] = "NoMailTo";
}
<div class="static-page-content">
    <h2>No MailTo:</h2>

    <p>I heard <b>mailto:</b> hotlinks create security problems.

    <p>Just copy my email: alexanderkidd5@outlook.com if you're not a bot.</p>

    <p>Sorry for the inconvenience.</p>
</div>