@page
@{
    ViewData["Title"] = "Tic-Tac-Fido";
}

<div class="static-page-content">
    <h2>Tic-Tac-Fido</h2>
    <div id="gameRoot"></div>
</div>

<script type="text/babel">
    class Square extends React.Component {
        render() {
            return (
                <button className="square">
                {/* TODO */}
                </button>
            );
        }
    }

    class Board extends React.Component {
        render() {
            const status = 'Next player: X';

            return (
                <div>
                    <div className="status">{status}</div>
                    <div className="board-row">
                        <Square value={0} />
                        <Square value={1} />
                        <Square value={2} />
                    </div>
                    <div className="board-row">
                        <Square value={3} />
                        <Square value={4} />
                        <Square value={5} />
                    </div>
                    <div className="board-row">
                        <Square value={6} />
                        <Square value={7} />
                        <Square value={8} />
                    </div>
                </div>
            );
        }
    }

    class Game extends React.Component {
        render() {
            return (
                <div className="game">
                    <div className="game-board">
                        <Board />
                    </div>
                    <div className="game-info">
                        <div>{/* status */}</div>
                        <ol>{/* TODO */}</ol>
                    </div>
                </div>
            );
        }
    }

    // ========================================

    ReactDOM.render(
        <Game />,
        document.getElementById('gameRoot')
    );

</script>
